@import 'variables.css';

body {
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
}

/* Top bar */

header .top-bar {
  height: var(--top-bar-height);
  background-color: var(--primary-green);
  color: var(--text-color-white);
  display: flex;
  justify-content: space-between;
  padding: 5px var(--gap-horizontal);
  font-size: var(--font-size-top-bar);
}

.right {
  display: flex;
}

.right div {
  display: flex;
  align-items: center;
  margin-right: 3em;
}

.right img {
  margin: 0 .2rem;
}

.right svg {
  margin: 0 .3rem;
}

.right path {
  stroke: var(--text-color-white);
}

.right a {
  text-decoration: none;
  color: var(--text-color-white);
}

.top-bar .left {
  display: flex;
  justify-content: space-between;
  font-size: var(--size-root);
  width: 10vw;

}

.top-bar .left a {
  text-decoration: none;
  color: var(--white);
}

/* Navigation bar */

nav.wrapper {
  padding: 0 var(--gap-horizontal);
  height: var(--nav-bar-height);
}

nav.wrapper .logo img {
  height: 4em;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  position: fixed;
  font-weight: 600;
  letter-spacing: 2px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 1.3rem 0px;
  z-index: 1;
  transition: background-color .5s ease;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

nav.green {
  top: 0;
}

.menu {
  display: flex;
}

.menu li {
  list-style-type: none;
}

.menu li a {
  padding: .6rem 1.8rem;
  text-align: start;
  color: var(--primary-text);
  font-size: var(--font-size-menu);
  text-decoration: none;
  display: inline-block;
}

.menu li a.active::after {
  width: 100%;
}

.menu li a:hover::after {
  width: 100%;
}

.menu li a::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: var(--primary-text);
  transition: 300ms;
  margin-top: 3px;
}

.menu li.menu-bottom a::after {
  height: 0;
}

#book-button a::after, .menu.open li a::after {
  background: var(--text-color-white);
}

#book-button a, .menu.open li a {
  color: var(--text-color-white);
}

#book-button {
  background-color: var(--primary-orange);
  border-radius: 1.5rem;
}

.menu.open #book-button {
  background-color: transparent;
}

.menu-bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 20px 0px;
  color: var(--text-color-white);
  font-weight: 500;
  text-transform: none;
}

.menu-bottom div {
  display: flex;
  align-items: center;
}

.menu-bottom svg {
  margin: 0px .6rem; 
}

li.menu-bottom a {
  padding: 0;
}

.menu-bottom .left {
  display: flex;
  justify-content: space-between;
  font-size: var(--size-root);
  width: calc(80% - 10vw);
}

.menu-bottom .left a {
  text-decoration: none;
  color: var(--text-color-white);
}

.menu-bottom {
  display: none;
}

#menu-icon {
  font-size: 2.1rem;
  color: var(--text-color-white);
  cursor: pointer;
  z-index: 2;
  display: none;
}

main {
  margin-top: var(--nav-bar-height);
}

/* Тэрэлж зураг */
img.landscape {
  height: var(--banner-height-desktop);
  object-fit: cover;
  width: 100%;
}

/* Нэгтгэл */
.wrap {
  padding: 5vh 8vw;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 16vw);
}

/* Нийтлэл нэгтгэл */
.wrap-article {
  width: 60%;
}

/* Нийтлэгч, нийтэлсэн он, сар, өдөр */
.text-info {
  display: flex;
}

.text-info div {
  display: flex;
}

.text-info .info {
  display: flex;
  margin-right: 3vw;
  align-items: center;
  color: var(--primary-green);
}

.text-info i {
  margin-right: var(--icon-margin);
  color: var(--gray-light);
  display: flex;
  align-items: center;
}

/* Гарчиг */
h1 {
  font-size: 36px;
}
/* Нийтлэлийн зураг */
.article-image {
  align-items: center;
  display: flex;
  height: 60vh;
  justify-content: center;
  position: relative;
  text-align: left;
}

.article-image img {  
  border-radius: 4vh;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.article p {
  line-height: var(--article-line-height);
  text-align: justify;
}

.article h2 {
  font-size: var(--font-size-header-blog);
}

/* Нэмэлт хэсэг */
.wrap-sidebar {
  width: calc(40% - 3vw);
}

.wrap-blog-type, .wrap-lastest-blog {
  width: 100%;
  height: fit-content;
  background-color: var(--gray-background);
  margin-top: 10vh;
  border-radius: 3vh;
  padding: 1vh 0;
}

/* Блогийн ангилал, Сүүлд нийтлэгдсэн блогууд гарчиг */
.blog-type-title {
  margin: 0;
  font-size: var(--font-size-header-blog);
  padding: 2vh 3vw;
  font-weight: bold;
}
/* Тусгаарлагч шугам */
.divider {
  width: auto;
  color: var(--gray-background);
}

.blog-types {
  margin: 3vh 3vw;
  font-size: 1rem; /* 16px */
}

.blog-types div {
  align-items: center;
  display: flex;
  margin-bottom: 3vh;
}

.blog-types a {
  color: var(--primary-text);
  display: flex;
  justify-content:space-between;
  margin-left: 2vw;
  text-decoration: none;
}

.blog-types a:hover {
  color: var(--primary-orange);
}

/* Сүүлд нийтлэгдсэн блогууд хэсэг */
.mini-blogs {
  --margin-side: 3vw;
  margin: 3vh var(--margin-side);
  width: calc(100% - var(--margin-side) * 2);
}

.wrap-mini-blog {
  display: flex;
  margin: 3vh 0;
}

.mini-blog-title h4 {
  margin: 0;
  font-size: 1rem;
}

.mini-blog-img {
  --img-size: 80px;
  align-items: center;
  display: flex;
  height: var(--img-size);
  justify-content: center;
  min-width: var(--img-size);
  position: relative;
  width: var(--img-size);
}

.mini-blog-img img {
  border-radius: 1vh;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.wrap-mini-blog div {
  align-content: space-between;
  margin-left: 2vw;
  display: grid;
}

.wrap-mini-blog article {
    margin-bottom: 2em;
}

/* Footer */

footer {
  background-image: url('../../assets/webp/footer-background.webp');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 5rem;
  color: var(--text-color-white);
  text-align: center;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--size-root) 0;
  cursor: default;
  white-space: nowrap;
  flex-wrap: wrap;
}

.footer-content section, .footer-content address {
  margin: 2rem 0;
  text-align: start;
}

.footer-content address {
  font-style: normal;
}

.footer-content section ul, .footer-content address ul {
  margin: 2rem 0;
  padding: 0;
}

.footer-content section h3, .footer-content address h3 {
  margin-top: 0;
  margin-bottom: var(--size-root);
  font-size: var(--size-root);
}

.footer-content section ul li, .footer-content address ul li {
  margin: .8rem 0;
  display: flex;
  align-items: center;
}

.footer-content li i, .footer-content li svg {
  width: var(--icon-size);
  height: var(--icon-size);
  margin-right: var(--icon-margin);
}

.footer-content section ul li a, .footer-content address ul li a {
  text-decoration: none;
  color: var(--text-color-white);
}

footer p {
  margin: 0;
  padding: 1.5em 0 2em 0;
}

@media only screen and (max-width: 1200px) {
  .wrap {
    padding: 3vh var(--gap-horizontal);
    width: calc(100% - 10vw);
  }
  .article-image {
    height: 50vh;
  }
}

/* Tablet */

@media only screen and (max-width: 1024px) {
    .top-bar .left {
      display: none;
    }
    .top-bar .right div {
        margin-right: 0;
    }
    .top-bar .right {
        width: 100%;
        justify-content: space-between;
    }

    #menu-icon {
        display: block;
        color: var(--primary-green);
    }
    .bx-x#menu-icon {
        color: var(--text-color-white);
    }
    .menu {
        position: absolute;
        margin: 0;
        top: 0;
        right: -100%;
        transition: right 1s;
        padding: 0px 1.2rem;
        width: var(--sidemenu-width);
        height: 100vh;
        background-color: rgba(0,0,0,.7);
        backdrop-filter: blur(8px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 6.25rem;
    } 
    .menu.open {
        top: -30px;
        right: 0;
        transition: right .5s;
    }
    .menu li {
        margin: 10px 0px;
    }
    .menu li.menu-bottom {
        display: flex;
        margin: 3em 0;
    }
    .article-image {
      height: 45vh;
    }
    .wrap {
      padding: 3vh 3vw;
      width: calc(100% - 6vw);
      display: block;
      align-items: center;
    }
    .wrap-article {
        width: 100%;
    }
    .wrap-sidebar{
        width: 100%;
        display: none;
    }

    footer {
      padding: 0 var(--gap-horizontal);
    }
}

/* Mobile */

@media only screen and (max-width: 768px) {
    .top-bar .right div:first-child, .top-bar .right div:nth-child(2) {
      display: none;
    }
    h1 {
      font-size: var(--font-size-header-blog);
    }
    .article h2 {
      font-size: 16px;
    }
    img.landscape {
      height: var(--banner-height-mobile);
    }
    .article-image {
      height: 40vh;
    }
    .footer-content {
      flex-wrap: wrap;
    }
    .footer-content section, .footer-content address {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        margin: var(--size-root);
    }
    .footer-content section h3, .footer-content address h3 {
        margin-bottom: 1em;
    }
    .footer-content section ul, .footer-content address ul {
        margin: 0;
    }
}

@media only screen and (max-width: 560px) {
    header .top-bar {
        display: none;
    }
    header nav {
        top: 0;
    }
    .article-image {
      height: 30vh;
    }
}