@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&display=swap');

:root {
  --primary-green: rgb(5, 72, 34);
  --gray-light: #A0A2A6;
  --gray-background: #E6E8EE;
  --gray-input: #F5F7FB;
  --primary-orange: #FC7E08;
  --primary-text: #000000;
  --gray: #6E6D70;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2vh;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
}

/* Тэрэлж зураг */
.landscape {
  height: 16vh;
  /* height: 120px; */
  object-fit: cover;
  /* object-position: 45% 55%; */
  width: 100%;
}
/* Нэгтгэл */
.wrap {
  padding: 5vh 8vw;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 16vw);
}
/* Нийтлэл нэгтгэл */
.wrap-article {
  width: 60%;
}
/* Нийтлэгч, нийтэлсэн он, сар, өдөр */
.text-info {
  display: flex;
}

.text-info div {
  display: flex;
}

.text-info .info {
  display: flex;
  margin-right: 3vw;
  align-items: center;
  color: var(--primary-green);
}

.text-info i {
  margin-right: 0.5vw;
  color: var(--gray-light);
  display: flex;
  align-items: center;
}

/* Гарчиг */
h1 {
  /* font-size: 36px; */
  font-size: 5vh;
}
/* Нийтлэлийн зураг */
.article-image {
  align-items: center;
  display: flex;
  height: 60vh;
  /* height: 30em; */
  justify-content: center;
  position: relative;
  text-align: left;
}

.article-image img {  
  border-radius: 4vh;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.article p {
  line-height: 2.5;
  text-align: justify;
  font-size: 2vh;
}

.article h2 {
  /* font-size: 20px; */
  font-size: 3vh;
}

/* Нэмэлт хэсэг */
.wrap-sidebar {
  width: calc(40% - 3vw);
}

.wrap-blog-type, .wrap-lastest-blog {
  width: 100%;
  height: fit-content;
  background-color: var(--gray-background);
  /* margin-top: 80px; */
  margin-top: 10vh;
  /* border-radius: 20px; */
  border-radius: 3vh;
  padding: 1vh 0;
}
/* Блогийн ангилал, Сүүлд нийтлэгдсэн блогууд гарчиг */
.blog-type-title {
  margin: 0;
  /* font-size: 20px; */
  font-size: 2.5vh;
  padding: 2vh 3vw;
  font-weight: bold;
}
/* Тусгаарлагч шугам */
.divider {
  width: auto;
  color: var(--gray-background);
}

.blog-types {
  margin: 3vh 3vw;
  /* font-size: 20px; */
  font-size: 2.5vh;
}

.blog-types div {
  align-items: center;
  display: flex;
  margin-bottom: 3vh;
}

.blog-types a {
  color: var(--primary-text);
  display: flex;
  justify-content:space-between;
  margin-left: 2vw;
  text-decoration: none;
}

.blog-types a:hover {
  color: var(--primary-orange);
}

/* Сүүлд нийтлэгдсэн блогууд хэсэг */
.mini-blogs {
  margin: 3vh 3vw;
  width: calc(100% - 6vw);
}

.wrap-mini-blog {
  display: flex;
  margin: 3vh 0;
}

h4 {
  margin: 0;
}

.mini-blog-img {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: center;
  min-width: 80px;
  position: relative;
  width: 80px;
}

.mini-blog-img img {
  border-radius: 1vh;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.wrap-mini-blog div {
  align-content: space-between;
  margin-left: 2vw;
  display: grid;
}

@media only screen and (max-width: 1200px) {
  .wrap {
    padding: 3vh 5vw;
    width: calc(100% - 10vw);
  }
}

@media only screen and (max-width: 1024px) {
  .wrap {
    padding: 3vh 3vw;
    width: calc(100% - 6vw);
    display: block;
    align-items: center;
  }
  .wrap-article {
      width: 100%;
  }
  .wrap-sidebar{
    width: 100%;
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    /* font-size: 20px; */
    font-size: 3vh;
  }
  .article h2 {
    /* font-size: 16px; */
    font-size: 2.5vh;
  }
}

