@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&display=swap');

:root {
  --primary-green: rgb(5, 72, 34);
  --gray-light: #A0A2A6;
  --gray-background: #E6E8EE;
  --gray-input: #F5F7FB;
  --primary-yellow: #FC7E08;
  --primary-text: #000000;
  --gray: #6E6D70;
}


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
}

/* .blog-page-title {
  align-items: center;
  display: flex;
  height: 120px;
  justify-content: center;
  position: relative;
  text-align: left;
} */

img {
  height: 120px;
  object-fit: cover;
  object-position: 45% 55%;
  width: 100%;
}

.wrap {
  padding: 3em 8vw;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 16vw);
}

.wrap-article {
  width: 60%;
}

.text-info {
  color: var(--primary-text);
  display: flex;
}

.text-info div {
  display: flex;
}

.text-info .info {
  display: flex;
  margin-right: 2em;
  align-items: center;
  color: var(--gray);
}

.text-info .grey {
  color: var(--gray);
}

.text-info i {
  margin-right: 0.5em;
  color: var(--gray-light);
  display: flex;
  align-items: center;
}

h1 {
  font-size: 36px;
}

.article-image {
  align-items: center;
  display: flex;
  height: 400px;
  justify-content: center;
  position: relative;
  text-align: left;
}

.article-image img {  
  border-radius: 20px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.article p {
  line-height: 2.5;
  text-align: justify;
}

.article h3 {
  font-size: 20px;
}

.wrap-sidebar {
    width: calc(40% - 3em);
}

.wrap-sidebar .wrap-blog-type, .lastest-blog {
    width: 100%;
    height: fit-content;
    background-color: var(--gray-background);
    margin-top: 80px;
    border-radius: 20px;
    padding: 20px 0;
}

.blog-type {
    margin: 0;
    font-size: 20px;
    padding: 1em 3vw;
    font-weight: bold;
}

.wrap-sidebar .wrap-blog-type .divider {
    width: auto;
}

.blog-types {
    margin: 20px 3vw;
    font-size: 20px;
}

.blog-types div {
    margin-bottom: 3vh;
    display: flex;
    align-items: center;
}

.blog-types a {
    text-decoration: none;
    display: flex;
    justify-content:space-between;
    padding: 0;
    color: var(--primary-text);
    margin-left: 2vw;
}

.blog-types a:hover {
    color: var(--primary-yellow);
}

.blog-types a div {
    color: var(--primary-yellow);
}

.mini-blog-info {
    margin: 20px 3vw;
    width: calc(100% - 6vw);
}

.wrap-mini-blog {
    display: flex;
    margin: 1em 0;
}

.mini-blog-title h4 {
  margin: 0;
}

.mini-blog-img {
    align-items: center;
    display: flex;
    height: 80px;
    width: 80px;
    min-width: 80px;
    justify-content: center;
    position: relative;
}

.mini-blog-img img {
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    width: 100%;
    height: 80px;
    width: 80px;
}

.wrap-mini-blog div {
    margin-left: 2vw;
}

.wrap-mini-blog article {
    margin-bottom: 2em;
}

@media (max-width: 1200px) {
    .wrap {
      padding: 3em 5vw;
      width: calc(100% - 10vw);
    }
}

@media (max-width: 1024px) {
    .wrap {
      padding: 3em 3vw;
      width: calc(100% - 6vw);
      display: block;
      align-items: center;
    }
    .wrap-article {
        width: 100%;
    }
    .wrap-sidebar{
        width: 100%;
        display: none;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 20px;
    }
    .article h3 {
        font-size: 16px;
    }
}

