@import 'variables.css';

body {
  font-family: var(--font-family-main);
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
  font-size: var(--font-size-main);
}

/* Top bar */

header .top-bar {
  height: var(--top-bar-height);
  background-color: var(--primary-green);
  color: var(--text-color-white);
  display: flex;
  justify-content: space-between;
  padding: 5px var(--gap-horizontal);
  font-size: var(--font-size-top-bar);
}

.right {
  display: flex;
}

.right div {
  display: flex;
  align-items: center;
  margin-right: 3em;
}

.right img {
  margin: 0 .2rem;
}

.right svg {
  margin: 0 .3rem;
}

.right path {
  stroke: var(--text-color-white);
}

.right a {
  text-decoration: none;
  color: var(--text-color-white);
}

.top-bar .left {
  display: flex;
  justify-content: space-between;
  font-size: var(--size-root);
  width: 10vw;

}

.top-bar .left a {
  text-decoration: none;
  color: var(--text-color-white);
}

/* Navigation bar */

nav.wrapper {
  padding: 0 var(--gap-horizontal);
  height: var(--nav-bar-height);
}

nav.wrapper .logo img {
  height: 4em;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  position: fixed;
  font-weight: 600;
  letter-spacing: 2px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 1.3rem 0px;
  z-index: 1;
  transition: background-color .5s ease;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

nav.green {
  top: 0;
}

.menu {
  display: flex;
}

.menu li {
  list-style-type: none;
}

.menu li a {
  padding: .6rem 1.8rem;
  text-align: start;
  color: var(--primary-text);
  font-size: var(--font-size-menu);
  text-decoration: none;
  display: inline-block;
}

.menu li a.active::after {
  width: 100%;
}

.menu li a:hover::after {
  width: 100%;
}

.menu li a::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: var(--primary-text);
  transition: 300ms;
  margin-top: 3px;
}

.menu li.menu-bottom a::after {
  height: 0;
}

#book-button a::after, .menu.open li a::after {
  background: var(--text-color-white);
}

#book-button a, .menu.open li a {
  color: var(--text-color-white);
}

#book-button {
  background-color: var(--primary-orange);
  border-radius: 1.5rem;
}

.menu.open #book-button {
  background-color: transparent;
}

.menu-bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 20px 0px;
  color: var(--text-color-white);
  font-weight: 500;
  text-transform: none;
}

.menu-bottom div {
  display: flex;
  align-items: center;
}

.menu-bottom svg {
  margin: 0px .6rem; 
}

li.menu-bottom a {
  padding: 0;
}

.menu-bottom .left {
  display: flex;
  justify-content: space-between;
  font-size: var(--size-root);
  width: calc(80% - 10vw);
}

.menu-bottom .left a {
  text-decoration: none;
  color: var(--text-color-white);
}

.menu-bottom {
  display: none;
}

#menu-icon {
  font-size: 2.1rem;
  color: var(--text-color-white);
  cursor: pointer;
  z-index: 2;
  display: none;
}

main {
  margin-top: var(--nav-bar-height);
}

/* Banner */

.contact-page-title {
  align-items: center;
  color: var(--text-color-white);
  display: flex;
  height: var(--banner-height-desktop);
  justify-content: center;
  position: relative;
  text-align: left;
}

.contact-page-title img {
  height: 100%;
  object-fit: cover;
  object-position: 45% 55%;
  width: 100%;
}

h1.page-title {
  font-size: 2.5em;
  font-weight: bold;
  left: 10%;
  position: absolute;
  font-family: var(--font-family-main);
}

/* Main content */

.wrap {
  display: flex;  
  justify-content: space-between;
  padding: 3em 8vw;
}

.wrap-sidebar {
  width: 50%;
}

/* Холбогдох мэдээлэл хэсэг */
.information {
  background-color: var(--primary-green);
  color: var(--text-color-white);
  width: 350px;
  height: fit-content;
  padding: 30px 40px;
  border-radius: 30px;
}

.text-info div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.text-info .text {
  font-size: var(--font-size-main);
  margin: 10px 0;
  color: var(--text-color-white);
  text-decoration: none;
}

.text-info i {
  margin-right: 1em;
  font-size: var(--icon-size-big);
}

.icons {
  display: flex;
  justify-content: space-between;
}

.icons a {
  color: var(--text-color-white);
}

.icons i {
  font-size: var(--icon-size-big);
}
/* Байршил */
.location iframe {
  height: 250px;
  margin-top: 50px;
  width: 100%;
  border: none;
}
/* Санал хүсэлт илгээх хэсэг */
.form {
  width: calc(50% - 3em);
}

h2.sub-title {
  color: var(--primary-green);
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
}

.contact-form {
  width: 100%;
}

.form-group {
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  width: 100%;
}

input,
textarea {
  border: 1px solid var(--gray-light);
  border-radius: 0px;
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  height: 30px;
  padding: 10px 20px;
  width: calc(100% - 40px);
}

textarea {
  height: 150px;
  padding: 25px 20px;
  resize: none;
}

button.sendBtn {
  background-color: var(--primary-green);
  border: none;
  border-radius: 20px;
  color: var(--text-color-white);
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  padding: 10px 20px;
  width: 100%;
  transition: 0.5s;
  display: grid;
  justify-content: center;
}

button.sendBtn:hover {
  background-color: var(--green-hover-color);
}

.sendBtn:active {
  background-color: #fff;
  color: var(--primary-text);
  border: 2px solid #000;
}

.loader {
  pointer-events: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--text-color-white);
  animation: ani1 2s ease infinite;
}

@keyframes ani1 {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

/* Footer */

footer {
  background-image: url('../../assets/webp/footer-background.webp');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 5rem;
  color: var(--text-color-white);
  text-align: center;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--size-root) 0;
  cursor: default;
  white-space: nowrap;
  flex-wrap: wrap;
}

.footer-content section, .footer-content address {
  margin: 2rem 0;
  text-align: start;
}

.footer-content address {
  font-style: normal;
}

.footer-content section ul, .footer-content address ul {
  margin: 2rem 0;
  padding: 0;
}

.footer-content section h3, .footer-content address h3 {
  margin-top: 0;
  margin-bottom: var(--size-root);
  font-size: var(--size-root);
}

.footer-content section ul li, .footer-content address ul li {
  margin: .8rem 0;
  display: flex;
  align-items: center;
}

.footer-content li i, .footer-content li svg {
  width: var(--icon-size);
  height: var(--icon-size);
  margin-right: var(--icon-margin);
}

.footer-content section ul li a, .footer-content address ul li a {
  text-decoration: none;
  color: var(--text-color-white);
}

footer p {
  margin: 0;
  padding: 1.5em 0 2em 0;
}

@media (max-width: 1200px) {
  .wrap {
    padding: 3em var(--gap-horizontal);
  }
  .information {
    padding: 20px 30px;
    width: 325px;
  }
}

@media (max-width: 1024px) {
  .top-bar .left {
    display: none;
  }
  .top-bar .right div {
      margin-right: 0;
  }
  .top-bar .right {
      width: 100%;
      justify-content: space-between;
  }

  #menu-icon {
      display: block;
      color: var(--primary-green);
  }
  .bx-x#menu-icon {
      color: white;
  }
  .menu {
      position: absolute;
      margin: 0;
      top: 0;
      right: -100%;
      transition: right 1s;
      padding: 0px 1.2rem;
      width: 270px;
      height: 100vh;
      background-color: rgba(0,0,0,.7);
      backdrop-filter: blur(8px);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 6.25rem;
  } 
  .menu.open {
      top: -30px;
      right: 0;
      transition: right .5s;
  }
  .menu li {
      margin: 10px 0px;
  }
  .menu li.menu-bottom {
      display: flex;
      margin: 3em 0;
  }

  .page-title {
    font-size: 44px;
    left: 50px;
  }
  .wrap {
    padding: 3em 3vw;
    min-width: auto;
  }
  .information {
    font-size: small;
    padding: 20px 30px;
    width: 300px;
  }
  .icons i {
    margin-right: 30px;
  }
  .location iframe {
    min-width: 320px;
  }

  footer {
    padding: 0 5vw;
  }
}

@media screen and (max-width: 768px) {
  .top-bar .right div:first-child, .top-bar .right div:nth-child(2) {
    display: none;
  }
  .page-title {
    font-size: 36px;
  }
  .sub-title {
    font-size: 24px;
  }
  .information {
    font-size: large;
    padding: 20px 30px;
    width: auto;
    min-width: auto;
  }
  .wrap {
    display: block;
    align-items: center;
  }
  .wrap-sidebar {
    width: 100%;
  }
  .form {
    width: 100%;
    padding-top: 50px;
  }
  .location iframe {
    width: 100%;
  }

  .footer-content {
    flex-wrap: wrap;
  }
  .footer-content section, .footer-content address {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      margin: 1rem;
  }
  .footer-content section h3, .footer-content address h3 {
      margin-bottom: 1em;
  }
  .footer-content section ul, .footer-content address ul {
      margin: 0;
  }
}

@media (max-width: 560px) {
  header .top-bar {
    display: none;
  }
  header nav {
      top: 0;
  }

  .page-title {
    font-size: 32px;
    left: 50px;
  }
  .wrap {
    margin: 20px;
    padding: 0;
  }
  .wrap-sidebar {
    width: calc(100% - 40px);
  }
  .location iframe {
    min-width: auto;
    width: 110%;
  }
  .information {
    font-size: small;
    padding: 20px 30px;
    width: calc(100% - 20px);
  }
}