@import 'variables.css';

body {
    padding: 0;
    margin: 0;
    font-family: var(--font-family-main);
    font-size: var(--font-size-main);
    overflow-x: hidden;
}

.wrapper {
    --max-width: 1400px;
    --min-gap: 25px;
    --side-gap: calc((100vw - min(var(--max-width), calc(100vw - (var(--min-gap) * 2)))) / 2);
    padding-left: var(--side-gap);
    padding-right: var(--side-gap);
}

/* Top bar */

header .top-bar {
    height: var(--top-bar-height);
    background-color: var(--primary-green);
    color: var(--text-color-white);
    display: flex;
    justify-content: space-between;
    padding: 5px var(--gap-horizontal);
    font-size: var(--font-size-top-bar);
}

.right {
    display: flex;
}

.right div {
    display: flex;
    align-items: center;
    margin-right: 3em;
}

.right img {
    margin: 0 .2rem;
}

.right svg {
    margin: 0 .3rem;
}

.right path {
    stroke: var(--text-color-white);
}

.right a {
    text-decoration: none;
    color: var(--text-color-white);
}

.top-bar .left {
    display: flex;
    justify-content: space-between;
    font-size: var(--size-root);
    width: 10vw;
  
  }
  
  .top-bar .left a {
    text-decoration: none;
    color: var(--white);
  }

/* Navigation bar */

nav.wrapper {
    padding: 0 var(--gap-horizontal);
    height: var(--nav-bar-height);
}

nav.wrapper .logo img {
    height: 4em;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    position: fixed;
    font-weight: 600;
    letter-spacing: 2px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 1.3rem 0px;
    z-index: 1;
    transition: background-color .5s ease;
}

nav.green {
    background-color: var(--primary-green);
    transition: background-color .2s ease;
    padding-top: .2rem;
    padding-bottom: .2rem;
    top: 0;
}

nav.green #book-button {
    background-color: var(--primary-orange);
    border-radius: 1.5rem;
}

.menu {
    display: flex;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    padding: .6rem 1.8rem;
    text-align: start;
    color: var(--text-color-white);
    font-size: var(--font-size-menu);
    text-decoration: none;
    display: inline-block;
}

.menu li a.active::after {
    width: 100%;
}

.menu li a:hover::after {
    width: 100%;
}

.menu li a::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: var(--text-color-white);
    transition: 300ms;
    margin-top: 3px;
}

.menu li.menu-bottom a::after {
    height: 0;
}

.menu.open #book-button {
    background-color: transparent;
}

.menu.open li a {
    color: var(--text-color-white);
} 

.menu-bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 20px 0px;
    color: var(--text-color-white);
    font-weight: 500;
    text-transform: none;
}

.menu-bottom div {
    display: flex;
    align-items: center;
}

.menu-bottom svg {
    margin: 0px .6rem; 
}

li.menu-bottom a {
    padding: 0;
}

.menu-bottom .left {
    display: flex;
    justify-content: space-between;
    font-size: var(--size-root);
    width: calc(80% - 10vw);
  }
  
  .menu-bottom .left a {
    text-decoration: none;
    color: var(--text-color-white);
  }

.menu-bottom {
    display: none;
}

#menu-icon {
    font-size: 2.1rem;
    color: var(--text-color-white);
    cursor: pointer;
    z-index: 2;
    display: none;
}

/* Slideshow */

.slideshow-container {
    height: calc(100vh - 30px);
    position: relative;
}

.mySlides {
    display: none;
    height: 100%;
}

.mySlides img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin: 0px 3vw;
    transition: var(--transition-time) ease;
    height: var(--arrow-size);
    width: var(--arrow-size);
}
  
.next {
    right: 0;
}
  
.caption {
    color: var(--text-color-white);
    position: absolute;
    top: 30%;
    width: calc(100% - 12vw - 72px);
    padding: 0 calc(6vw + 36px);
    text-align: center;
}

.caption h1 {
    font-size: 12em;
    margin: 0;
    font-family: var(--font-family-kursivc);
    font-weight: 100;
}

.caption p {
    margin: 0;
    font-size: var(--font-size-slideshow);
    font-family: var(--font-family-montserrat);
    font-weight: bold;
}

.caption button {
    font-size: var(--font-size-slideshow);
    margin: 8vh auto 0 auto;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 0;
    padding: 12px 30px;
    background-color: var(--primary-orange);
    color: var(--text-color-white);
    cursor: pointer;
    font-family: var(--font-family-montserrat);
}

.caption button a {
    text-decoration: none;
    color: var(--text-color-white);
}

.caption i {
    font-size: 1em;
    margin-left: var(--icon-margin);
}

.dot-container {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
  
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--dot-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color var(--transition-time) ease;
}
  
.active-slide, .dot:hover {
    background-color: var(--dot-hover-color);
}
  
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

section h1 {
    text-align: center;
    color: var(--primary-green);
    font-size: var(--font-size-header);
}

/* Аяллын кардууд */

.card-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-slider-container {
    display: flex;
    width: 90%;
    overflow: hidden;
}

.card-slider-content {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

custom-card {
    margin-right: 3.5rem;
    background-color: #fff;
}

.card {
    --margin-one-side: 2vw;
    margin: 0 var(--margin-one-side);
    width: calc(25% - var(--margin-one-side) * 2);
    flex: 1 0 calc(25% - var(--margin-one-side) * 2); 
    position: relative;
}

.card img {
    width: 100%;
}

.card span {
    position: absolute;
    color: var(--text-color-white);
    margin: .8em;
    font-size: 1.3em;
    text-shadow: #000 1px 0 10px;
    font-weight: bold;
    right: 0;
}

.card h2 {
    margin-bottom: 0;
    font-size: var(--font-size-header-card);
}

.card p {
    margin: 0; 
    font-size: 1em;
    opacity: .6;
}

.prev-btn-1, .next-btn-1, .prev-btn-2, .next-btn-2, .prev-btn-3, .next-btn-3 {
    cursor: pointer;
    transition: var(--transition-time) ease;
    height: var(--arrow-size);
    width: var(--arrow-size);
}

/* Блог */

section.blogs {
    margin: 0 auto;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    /* padding: 0 5vw; */
    justify-content: space-between;
}

.blog-container article {
  width: calc(50% - 2vw);
  height: var(--img-large);
  display: flex;
  margin: 2rem 0;
  padding: 0 1vw;
}

.blog-container img {
    width: var(--img-large);
    height: var(--img-large);
    object-fit: cover;
    border-radius: 15%;
}

.blog-info {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-info h2 {
    margin: 0;
}

.blog-info p {
    height: 78px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-info button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.blog-info button a {
    text-decoration: none;
    color: var(--primary-orange);
    font-family: var(--font-family-main);
    font-weight: 600;
    display: flex;
    align-items: center;
}

.blog-info button i {
    font-size: var(--font-size-header-card);
    margin-left: var(--icon-margin);
}

/* Сэтгэгдлүүд */

.carousel-feedback {
    position: relative; 
    height: 200px;
    width: 100%; 
    margin :0 auto ; 
    margin-bottom: var(--gap-horizontal); 
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback {
    width: 80%;
    display: flex;
    word-wrap: break-word;
    font-size: var(--font-size-comment);
    font-weight: 550;
}

.c_slide-content-feedback {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.author {
    width: 80%;
    text-align: end;
    font-size: var(--font-size-comment);
    font-weight: 550;
}

.c_track-container{
    height: fit-content;
    align-content: center;
    width: 80%;
}

.c_track {
    padding:0; 
    margin:0; 
    list-style: none;
    transition: transform 250ms ease-in;
}

/* Статистик мэдээллүүд */

.information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem 1.4rem 5rem;
    flex-wrap: wrap;
}

/* Footer */

footer {
    background-image: url('../../assets/webp/footer-background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 5rem;
    color: var(--text-color-white);
    text-align: center;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: var(--size-root) 0;
    cursor: default;
    white-space: nowrap;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: var(--size-root) 0;
    cursor: default;
    white-space: nowrap;
    flex-wrap: wrap;
}

.footer-content section, .footer-content address {
    margin: 2rem 0;
    text-align: start;
}

.footer-content address {
    font-style: normal;
}

.footer-content section ul, .footer-content address ul {
    margin: 2rem 0;
    padding: 0;
}

.footer-content section h2, .footer-content address h2 {
    margin-top: 0;
    margin-bottom: var(--size-root);
    font-size: var(--size-root);
}

.footer-content section ul li, .footer-content address ul li {
    margin: .8rem 0;
    display: flex;
    align-items: center;
}

.footer-content li i, .footer-content li svg {
    width: var(--icon-size);
    height: var(--icon-size);
    margin-right: var(--icon-margin);
}

.footer-content section ul li a, .footer-content address ul li a {
    text-decoration: none;
    color: var(--text-color-white);
}

footer p {
    margin: 0;
    padding: 1.5em 0 2em 0;
}

@media only screen and (max-width: 1280px) {
    .caption h1 {
        font-size: 8em;
    }
    .caption p {
        font-size: 1.3em;
    }
    .caption button {
        font-size: 1.3em;
        border-radius: 15px;
        padding: 8px 15px;
    }
}

@media only screen and (max-width: 1024px) {
    .top-bar .left {
        display: none;
    }
    .top-bar .right div {
        margin-right: 0;
    }
    .top-bar .right {
        width: 100%;
        justify-content: space-between;
    }
    section h1 {
        font-size: 24px;
    }
    .card span {
        font-size: 1.2em;
    }
    .card {
        width: calc(100% / 3 - 4vw);
        flex: 1 0 calc(100% / 3 - 4vw);
    }
    #menu-icon {
        display: block;
    }
    .bx-x#menu-icon {
        color: var(--text-color-white);
    }
    .menu {
        position: absolute;
        margin: 0;
        top: 0;
        right: -100%;
        transition: right 1s;
        padding: 0px 1.2rem;
        width: var(--sidemenu-width);
        height: 100vh;
        background-color: rgba(0,0,0, .7);
        backdrop-filter: blur(8px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 6.25rem;
    } 

    .menu.open {
        top: -30px;
        right: 0;
        transition: right .5s;
    }

    .menu li {
        margin: 10px 0px;
    }
    .menu li.menu-bottom {
        display: flex;
        margin: 3em 0;
    }

    footer {
        padding: 0 var(--gap-horizontal);
    }
}

@media only screen and (max-width: 992px) {
    .bar-container .left {
        display: none;
    }
    .menu li a{
        transition: .2s;
    }
    .blog-info h2{
        font-size: var(--size-root);
    }
    information-box {
        width: 50%;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 835px) {
    .menu-bottom {
        display: flex;
    }
    .menu {
        top: -14px;
    } 
    .blog-container article img {
        height: 150px;
        width: 150px;
    }

    .blog-container article {
        height: 150px;
    }

    section.blog-info {
        padding: 0.5em 1em;
    }

    .footer {
        flex-wrap: wrap;
    }

    .footer div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
    }

}

@media only screen and (max-width: 768px) {
    .top-bar .right div:first-child, .top-bar .right div:nth-child(2) {
        display: none;
    }
    .caption h1 {
        font-size: 7em;
    }
    .prev, .next, .prev-btn-1, .next-btn-1, .prev-btn-2, .next-btn-2, .prev-btn-3, .next-btn-3 {
        width: 60px;
        height: 60px;
    }
    .card span {
        font-size: 1em;
    }
    .card h2 {
        font-size: 1.2em;
    }

    .blog-container {
        flex-direction: column;
    }
    .blog-container article img {
        height: var(--img-large);
        width: var(--img-large);
    }
    .blog-container article {
        height: var(--img-large);
        width: 100%;
    }
    .blog-info h2 {
        font-size: var(--font-size-header-card);
    }
    .footer-content {
        flex-wrap: wrap;
    }
    .footer-content section, .footer-content address {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        margin: var(--size-root);
    }
    .footer-content section h3, .footer-content address h3 {
        margin-bottom: 1em;
    }
    .footer-content section ul, .footer-content address ul {
        margin: 0;
    }
}

@media only screen and (max-width: 560px) {
    header .top-bar {
        display: none;
    }
    header nav {
        top: 0;
    }
    .caption h1 {
        font-size: 15vw;
    }
    .caption p {
        font-size: 1em;
    }
    .caption button {
        font-size: 1em;
    }
    .prev, .next, .prev-btn-1, .next-btn-1, .prev-btn-2, .next-btn-2, .prev-btn-3, .next-btn-3 {
        width: 36px;
    }
    .card {
        width: calc(50% - 4vw);
        flex: 1 0 calc(50% - 4vw);
    }
}

@media only screen and (max-width: 365px) {
    .footer div {
        width: 100%;
    }
    .arrow {
        display: none;
    }
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}