@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&display=swap');

:root {
    --primary-green: rgb(5, 72, 34);
    --gray-light: #4A4E4F;
    --gray-background: #E6E8EE;
    --gray-input: #F5F7FB;
    --primary-orange: #FC7E08;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    min-height: 100vh;
}

header .top-bar {
    height: 20px;
    background-color: var(--primary-green);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 5vw;
    font-size: 0.9em;
}

.right {
    display: flex;
}

.right div {
    display: flex;
    align-items: center;
    margin-right: 3em;
}

.right img {
    margin: 0px .2rem;
}

.right svg {
    margin: 0 .3rem;
}

.right path {
    stroke: white;
}

.right a {
    text-decoration: none;
    color: white;
}

.top-bar .left {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    width: 10vw;
  
  }
  
  .top-bar .left a {
    text-decoration: none;
    color: var(--white);
  }

/* header nav {
    height: 70px;
} */

.wrapper {
    padding: 0 5vw;
    height: 65px;
}

.wrapper .logo img {
    height: 4em;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    position: fixed;
    font-weight: 600;
    letter-spacing: 2px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 1.3rem 0px;
    z-index: 1;
    transition: background-color .5s ease;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

nav.green {
    /* background-color: var(--primary-green); */
    /* transition: background-color 5s ease; */
    /* padding-top: .2rem;
    padding-bottom: .2rem; */
    top: 0;
}

.menu {
    display: flex;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    padding: .6rem 1.8rem;
    text-align: start;
    color: black;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
}

.menu li a.active::after {
    width: 100%;
}

.menu li a:hover::after {
    width: 100%;
}

.menu li a::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: black;
    transition: 300ms;
    margin-top: 3px;
}

.menu li.menu-bottom a::after {
    height: 0;
}

#book-button a::after, .menu.open li a::after {
    background: white;
}

#book-button a {
    color: white;
}

#book-button {
    background-color: var(--primary-orange);
    border-radius: 1.5rem;
}

.menu.open #book-button {
    background-color: transparent;
}

.menu.open li a {
    color: white;
} 

.menu-bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 20px 0px;
    color: #fff;
    font-weight: 500;
    text-transform: none;
}

.menu-bottom div {
    display: flex;
    align-items: center;
}

.menu-bottom svg {
    margin: 0px .6rem; 
}

li.menu-bottom a {
    padding: 0;
}

.menu-bottom .left {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    width: calc(80% - 10vw);
  }
  
  .menu-bottom .left a {
    text-decoration: none;
    color: var(--white);
  }

.menu-bottom {
    display: none;
}

#menu-icon {
    font-size: 2.1rem;
    color: #fff;
    cursor: pointer;
    z-index: 2;
    display: none;
}

main {
    margin-top: 65px;
}

.banner {
    height: 140px;
    position: relative;
    display: flex;
    align-items: center;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner h1 {
    position: absolute;
    margin: 0;
    left: 10%;
    font-size: 2.5em;
    color: white;
    font-family: 'PT Sans', sans-serif;
}

.pre-content {
    background-color: var(--gray-input);
    padding-left: 5vw;
    padding-right: calc(40% - 2vw);
}

.top-brief {
    display: flex;
    flex-wrap: wrap;
    padding-top: 8vh;
    padding-bottom: 8vh;
    font-family: 'PT Sans', sans-serif;
}

.brief-info {
    flex: 1;
}

.brief-info div {
    float: left;
}

.brief-info .icon-1 {
    width: 36px;
    height: 36px;
    margin-right: 8px;
}

.brief-info p {
    margin: 0;
    color: var(--primary-green);
}

.brief-info span {
    color: var(--gray-light);
}

ul.tabs-nav {
    display: flex;
    padding-inline-start: 0;
    width: 100%;
    margin: 0;
}

#selected-tab {
    background-color: white;
    border-bottom: 1px solid var(--gray-input);
}

.tabs-nav li {
    display: flex;
    list-style: none;
    background-color: var(--gray-background);
    padding: 15px 20px;
    border-radius: 10px 10px 0 0;
    align-items: center;
    margin-right: 15px;
    height: 1rem;
}

.tabs-nav a {
    text-decoration: none;
    color: black;
}

.main-content {
    display: flex;
}

.content {
    width: calc(60% - 3vw);
    margin-left: 5vw;
}

.content h1 {
    font-size: 2.5em;
    width: 100%;
}

.content p {
    color: #6E6D70;
    text-align: justify;
    margin-bottom: 3em;
}

table th {
    padding: 0px 20px;
    width: 50%;
    vertical-align: top;
    text-align: start;
}

table th, td {
    border-bottom: 1px solid #D8D8D8;
    padding-top: 20px;
    padding-bottom: 20px;
}

table ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 2;
}

table i {
    font-size: 16px;
    margin-right: 8px;
}

.first-row td, .first-row th {
    border-top: 1px solid #D8D8D8;
}

aside {
    max-width: 700px;
    margin: 0 auto;
    padding: 0px 50px;
    transform: translateY(calc(-16vh - 89px));
}

.timer {
    display: flex;
    font-weight: bold;
    padding: calc(8vh - 16px) 10%;
    justify-content: space-between;
    font-family: 'PT Sans', sans-serif;
}

.timer > div {
    background-color: var(--gray-background);
    width: 60px;
    min-width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0px 10px 0px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.timer h2 {
    margin: 0;
    font-size: 32px;
}

.timer span {
    font-size: 12px;
}

.booking-form {
    padding: 0px 10%;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.form-top {
    height: 5px;
    background-color: var(--primary-green);
    width: 100%;
    border-radius: 0px 0px 8px 8px;
}

.booking-form h3 {
    font-weight: bold;
    margin-top: 10px;
    border-bottom: 2px solid var(--gray-input);
    padding-bottom: 14px;
}

form {
    display: flex;
    flex-direction: column;
}

input:not([id="message"]) {
    background-repeat: no-repeat;
    background-position: 15px;
    background-size: 16px;
    background-color: var(--gray-input);
    padding: 15px 0px 15px 50px;
    border: 0px;
    border-radius: 10px;
    margin: 10px 0px;
}

input::placeholder {
    color: black;
}

input:nth-child(1) {
    background-image: url('../../assets/icons/edit.png');
}

input:nth-child(2), input:nth-child(3) {
    background-image: url('../../assets/icons/mail.png');
}

input:nth-child(4) {
    background-image: url('../../assets/icons/phone.png');
}

input:nth-child(5) {
    background-image: url('../../assets/icons/group-black.png');
}
  
form span {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 15px 0px;
}

form textarea {
    font-family: 'Open Sans', sans-serif;
    resize: none;
    background-color: var(--gray-input);
    border: 0;
    border-radius: 10px;
    width: calc(100% - 40px);
    padding: 20px;
    margin: 10px 0px;
}

form textarea::placeholder {
    color: black;
}

form input[type="submit"] {
    background-color: var(--primary-green);
    color: white;
    padding: 10px 0px;
    font-weight: bold;
    margin: 25px 0px;
}

form input[type="submit"]:hover {
    background-color: #186b4e;
    cursor: pointer;
}

/* section.travel-cat {
    padding: 2em;
}
  
section.travel-cat h1 {
      text-align: center;
      color: var(--primary-green);
      font-size: 2em;
}
  
.card-slider {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
  
.card-slider-container {
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    /* margin: 0 1rem;
    transition: transform 0.5s ease;
}

custom-card {
    margin-right: calc((100vw - 9em - 1040px) / 3);
    background-color: #fff;
}

.right-arrow {
    position: absolute;
    bottom: 50%;
    /* transform: translateY(50%);
    right: 0;
    width: 2em;
}

.left-arrow {
    position: absolute;
    bottom: 50%;
    /* transform: translateY(50%);
    left: 0;
    width: 2em;
} */


.travel-cat {
    color: var(--primary-green);
    margin: 5vh 5vw;
}
.travel-cat h1 {
    text-align: center;
    font-size: 2em;
}

.card-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-slider-container {
    display: flex;
    width: 90%;
    overflow: hidden;
}
.card-slider-content {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.card {
    margin: 0 2vw;
    width: calc(25% - 4vw);
    flex: 1 0 calc(25% - 4vw); 
    position: relative;
}

.card img {
    width: 100%;
}

.prev-btn-1, .next-btn-1, .prev-btn-2, .next-btn-2, .prev-btn-3, .next-btn-3 {
    cursor: pointer;
    transition: 0.6s ease;
    height: 96px;
    width: 96px;
}

.card span {
    position: absolute;
    color: white;
    margin: .8em;
    font-size: 1.3em;
    text-shadow: #000 1px 0 10px;
    font-weight: bold;
    right: 0;
}
.card h2 {
    margin-bottom: 0;
    font-size: 1.5em;
}

.card p {
    margin: 0; 
    font-size: 1em;
    opacity: .6;
}

.book-now {
    display: none;
}

footer {
    background-image: url('../../assets/webp/footer-background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 5rem;
    color: white;
    text-align: center;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    cursor: default;
    white-space: nowrap;
    flex-wrap: wrap;
}

.footer-content section, .footer-content address {
    margin: 2rem 0;
    text-align: start;
}

.footer-content address {
    font-style: normal;
}

.footer-content section ul, .footer-content address ul {
    margin: 2rem 0;
    padding: 0;
}

.footer-content section h3, .footer-content address h3 {
    margin-top: 0;
    margin-bottom: 2em;
}

.footer-content section ul li, .footer-content address ul li {
    margin: .8rem 0;
    display: flex;
    align-items: center;
}

.footer-content li i, .footer-content li svg {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.footer-content section ul li a, .footer-content address ul li a {
    text-decoration: none;
    color: white;
}

footer p {
    margin: 0;
    padding: 1.5em 0 2em 0;
}

@media only screen and (max-width: 1200px) {
    ul.tabs-nav {
        font-size: small;
    }
    .tabs-nav li {
        padding: 15px 10px;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 1024px) {
    .top-bar .left {
        display: none;
    }
    .top-bar .right div {
        margin-right: 0;
    }
    .top-bar .right {
        width: 100%;
        justify-content: space-between;
    }
    /* section h1 {
        font-size: 24px;
    } */
    .card span {
        font-size: 1.2em;
    }
    .card {
        width: calc(100% / 3 - 4vw);
        flex: 1 0 calc(100% / 3 - 4vw);
    }
    #menu-icon {
        display: block;
        color: var(--primary-green);
    }
    .bx-x#menu-icon {
        color: white;
    }
    .menu {
        position: absolute;
        margin: 0;
        top: 0;
        right: -100%;
        transition: right 1s;
        padding: 0px 1.2rem;
        width: 270px;
        height: 100vh;
        background-color: rgba(0,0,0,.7);
        backdrop-filter: blur(8px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 6.25rem;
    } 
    .menu.open {
        top: -30px;
        right: 0;
        transition: right .5s;
    }
    .menu li {
        margin: 10px 0px;
    }
    .menu li.menu-bottom {
        display: flex;
        margin: 3em 0;
    }

    .pre-content {
        padding-right: 5vw;
    }
    .tabs-nav li {
        padding: 15px 20px;
        margin-right: 15px;
    }
    .main-content {
        display: block;
    }
    .content {
        width: calc(100% - 10vw);
        margin: 0 5vw;
    }
    aside {
        max-width: unset;
        margin: unset;
        padding: 0px 10%;
        transform: unset;
    }
    .timer {
        justify-content: center;
    }
    .timer > div {
        margin: 0 10px;
    }
    .booking-form h4 {
        font-size: 1.5em;
    }
    /* Нийт дүн */
    form span {
        font-size: 1.25em;
    }
    footer {
        padding: 0 5vw;
    }
}

@media only screen and (max-width: 768px) {
    .top-bar .right div:first-child, .top-bar .right div:nth-child(2) {
        display: none;
    }
    .banner {
        height: 100px;
    }
    .banner h1 {
        font-size: 26px;
    }
    .top-brief {
        justify-content: space-between;
    }
    .brief-info {
        flex: unset;
    }
    ul.tabs-nav {
        display: none ;
    }
    .travel-cat h1 {
        font-size: 1.5em;
    }
    .prev-btn, .next-btn {
        width: 60px;
        height: 60px;
    }
    .card span {
        font-size: 1em;
    }
    .card h2 {
        font-size: 1.2em;
    }
    .footer-content {
        flex-wrap: wrap;
    }
    .footer-content section, .footer-content address {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        margin: 1rem;
    }
    .footer-content section h3, .footer-content address h3 {
        margin-bottom: 1em;
    }
    .footer-content section ul, .footer-content address ul {
        margin: 0;
    }

    .book-now {
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: var(--gray-input);
        font-weight: bold;
        font-size: 18px;
        height: 50px;
        border: 0;
        /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); */
        box-shadow: 0 0 60px 0 rgba(6,30,98,.08);
    }
    .book-now a {
        text-decoration: none;
        color: var(--primary-green);
    }
    .book-now a:hover {
        color: var(--primary-orange);
    }
}

@media only screen and (max-width: 560px) {
    header .top-bar {
        display: none;
    }
    header nav {
        top: 0;
    }
    .banner {
        height: 100px;
    }
    .banner h1 {
        font-size: 26px;
    }
    .top-brief {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      padding: 30px 0px;
    }
    .content h1 {
        font-size: 30px;
    }
    aside {
        padding: 0 5%;
    }
    .booking-form h4 {
        font-size: 18px;
    }
    form span {
        font-size: 15px;
    }
    .prev-btn, .next-btn {
        width: 36px;
    }
    .card {
        width: calc(50% - 4vw);
        flex: 1 0 calc(50% - 4vw);
    }
}
