@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

@font-face {
    font-family: 'KursivC';
    src: url('../../assets/fonts/kursivc_[allfont.net].ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* colors */
    --primary-green: rgb(5, 72, 34);
    --primary-orange: #FC7E08;
    --primary-text: #000000;
    --secondary-text: #6E6D70;
    --gray-light: #A0A2A6;
    --gray-background: #E6E8EE;
    --gray-input: #F5F7FB;
    --text-color-white: white;
    --dot-color: #bbb;
    --dot-hover-color: #717171;
    --green-hover-color: #186b4e;
    --hr: #D8D8D8;

    /* font family  */
    --font-family-main: 'Open Sans', sans-serif;
    --font-family-montserrat: 'Montserrat', sans-serif;
    --font-family-kursivc: 'KursivC', sans-serif;

    /* size */
    --font-size-top-bar: 0.9em;
    --font-size-menu: 12px;
    --font-size-slideshow: 1.7em;
    --font-size-main: 14px;
    --font-size-header: 2rem;
    --font-size-header-card: 1.5em;
    --font-size-comment: 20px;
    --font-size-header-blog: 20px;
    --article-line-height: 2.5;

    --img-large: 200px;
    --arrow-size: 96px;
    --border-size: 20px;
    --icon-size: 16px;
    --icon-size-big: 24px;
    --icon-size_large: 36px;
    --icon-margin: 8px;
    --size-root: 1rem;
    --gap-horizontal: 5vw;
    --top-bar-height: 20px;
    --nav-bar-height: 65px;
    --banner-height-desktop: 140px;
    --banner-height-mobile: 100px;
    --sidemenu-width: 270px;

    /* animation */
    --transition-time: 0.6s
}